/*  Regole generali di pagina  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
}

.container {
  width: 70vw;
  margin:auto;
}

/*  HEADER  */
header {
  position: relative;
  height: 150px;
  position: relative;
  background-color: lightblue;
}

  #foto {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
/* NAVBAR */
.navbar {
  width: 100%;
  height: 40px;
  background: grey;
  position: absolute;
  bottom: 0;
  left:0;
}
.navbar a:hover{
  background-color: blue;
  color: black;
}
.menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  display: block;
}
li {
  float: left;
  width: 14.28%;
  text-align: center;
  font-size: 12px;
}

/*  blocco centrale main */
main {
  background-color: lightgreen; /* debug */
  /* height: 600px; */
}

.floatcontainer {
background-color: green; /* debug */
/* height: 550px; */
}

.floatcontainer::after{
  content: "";
  display: table;
  clear: both;
}

.feedpagina {
  width: 20%;
  background-color: white;
  height: 200px; /* debug */
  float: left;
}

.contenutoprincipale {
  width: 50%;
  height: 150px; /* debug */
  background-color: white;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
  .widget {
  width: 20%;
  /* height: 500px; */
  /* border: 1px solid black; */
  float: left;
}
    .wid {
      background-color: white;
      height: 100px;
      margin-bottom: 10px;
}

/*  FOOTER */
  footer {
    height: 100px;
    background-color: grey;
  }
