/*  Regole generali di pagina  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  }

.container {
  width: 70vw;
  margin:auto;
}

/*  HEADER  */
header {
  height: 150px;
  background-image: url(../img/natural.jpg);
  position: relative;
  border: 4px solid white;
  }
  #foto {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  }

/*  blocco centrale main */
main {
  background-color: lightgreen; /* debug */
  /* height: 600px; */
}
.floatcontainer {
background-color: green; /* debug */
/* height: 550px; */
}

.floatcontainer::after{
  content: "";
  display: table;
  clear: both;
}

  .feedpagina {
  width: 20%;
  background-color: white;
  height: 200px; /* debug */
  float: left;
  }
  .contenutoprincipale {
  width: 50%;
  height: 150px; /* debug */
  background-color: white;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  }
  .widget {
  width: 20%;
  /* height: 500px; */
  /* border: 1px solid black; */
  float: left;
  }
    .wid {
      background-color: white;
      height: 100px;
      margin-bottom: 10px;
    }

/*  FOOTER */
  footer {
    height: 100px;
    background-color: grey;
  }
